		<div id="top-performers" class="box">
			<table summary="Top Picks">
				<thead>
					<tr>
						<th colspan="3"><h2>Top Picks</h2></th>
					</tr>
				</thead>
				<tbody>
					{% for player_id, player_name, pooled_team_slug, position, team_id, nhlcom,sportsnet, selected in toppicks %}
					<tr>
						<td class="value-col">{{ selected}} %</td>
						<td><a href="http://www.sportsnet.ca/hockey/nhl/players/{{ sportsnet }}/" target="_blank">{{ player_name }}</a></td>
						<td class="team-col">{{ pooled_team_slug|upper }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
		</div>
