        <div id="profile" class="box">
            {% if cup_pick %}
            <img src="/pooled_media/images/teams/lrg/{{ cup_pick.team.slug|lower }}.gif" alt=""/>
            {% else %}
            <p><a href="{% url pooled.views.pick_players %}">Go pick your cup winner</a></p>
            {% endif %}
            <h3>{{ user.username }}</h3>
            <ul>
                <li>current rank : <em>-</em></li>
                <li>points behind leader : <em>-</em></li>
                <li><a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a></li>
            </ul>           
            <div style="clear:both"></div>
        </div>
