{% extends "pooled/layout_homepage.html" %}
{% load pooled_common %}
{% block body_id %}team{% endblock %}
{% block body_class %}{{ user.get_profile.favourite_team.slug|lower }}{% endblock %}
{% block content %}
        
        {% if picks_open %}
        {% if current_pick_round.can_pick_cup %}
        <form action="{% url pooled.views.pick_cup %}" method="post" id="cup-winner-form">
            <h2 class="cup-winners">The {{ cup_pick_form.team }} will win the Stanley Cup.</h2>
            <script>
                $(document).ready(function() {
                    $('#cup-pick-team').change(function() {
                        $('#cup-winner-form').submit();
                    })
                })
            </script>
        </form>
        {% else %}
            <h2 class="cup-winners">The <strong>{{ cup_pick.team }}</strong> will win the Stanley Cup.</h2>
        {% endif %}
        {% else %}
            <h2 class="cup-winners">The <strong>{{ cup_pick.team }}</strong> will win the Stanley Cup.</h2>
        {% endif %}
        <p class="util-links">
            {% for a_round in 4|get_range %}
                {% if forloop.counter|gt:active_round %}
                    round {{ forloop.counter }}
                {% else %}
                {% if picks_open %}
                    {% ifequal forloop.counter active_round %}
                    <a href="{% url pooled.views.pick_players %}" class="selected">round {{ active_round }}</a>
                    {% else %}
                    <a href="{% url pooled.views.picks_view username=the_user.username,round=forloop.counter %}">round {{ forloop.counter }}</a>
                    {% endifequal %}
                {% else %}
                    {% ifequal forloop.counter this_round %}
                    <a href="{% url pooled.views.picks_view username=the_user.username,round=forloop.counter %}" class="selected">round {{ forloop.counter }}</a>
                    {% else %}
                    <a href="{% url pooled.views.picks_view username=the_user.username,round=forloop.counter %}">round {{ forloop.counter }}</a>
                    {% endifequal %}
                {% endif %}
                {% endif %}
                {% if not forloop.last %}
                |
                {% endif %}
            {% endfor %}
        </p>
        <h2>{{ the_user.username }}</h2>
        {% if picks_open %}
        <form action="" method="post" id="pick-form" class="clearfix">
            <ul class="clearfix">
            {{ pick_form.as_ul }}
            <li><input type="submit" value="Submit" class="submit" /></li>
            </ul>
            <div id="rink-map">
                {% for pick in eastern_players %}
                    {% ifequal pick.player.position.lower "d" %}
                    <a href="#" class="east-{% cycle 'd1' 'd2' %}" title="{{pick.player.name}} [East {{pick.player.position|upper}}]">{{pick.player.name}}</a>
                    {% else %}
                    <a href="#" class="east-{{pick.player.position|lower}}" title="{{pick.player.name}} [East {{pick.player.position|upper}}]">{{pick.player.name}}</a>
                    {% endifequal %}
                {% endfor %}
                {% for pick in eastern_goalies %}
                    <a href="#" class="east-g" title="{{pick.player.name}} [East G]">{{pick.player.name}}</a>
                {% endfor %}
                
                {% for pick in western_players %}
                    {% ifequal pick.player.position.lower "d" %}
                    <a href="#" class="west west-{% cycle 'd1' 'd2' %}" title="{{pick.player.name}} [West {{pick.player.position|upper}}]">{{pick.player.name}}</a>
                    {% else %}
                    <a href="#" class="west west-{{pick.player.position|lower}}" title="{{pick.player.name}} [West {{pick.player.position|upper}}]">{{pick.player.name}}</a>
                    {% endifequal %}
                {% endfor %}
                {% for pick in western_goalies %}
                    <a href="#" class="west west-g" title="{{pick.player.name}} [West G]">{{pick.player.name}}</a>
                {% endfor %}
            </div>
                    <script>
        $("#id_position").change( function() { 
            $("#id_player").attr( { value : "", disabled: "disabled" } ); 
            $("#id_team").attr( { value:"", disabled: "" } ); 
            $("#autocomplete").hide(); 
        });
        Pooled.autocomplete( 
        { 
            url: "/autocomplete/teams/", 
            min_length: -1, 
            complete_target: "#id_team", 
            id_target: "#id_team_id", 
            params: { pick_type: function() { return $("#id_position").val(); } }, 
            after_select: function() { $("#id_player").attr( { value : "", disabled : "" }); }
        });
        Pooled.autocomplete( 
        { 
            url: "/autocomplete/players/", 
            min_length: -1, 
            complete_target: "#id_player", 
            id_target: "#id_player_id", 
            params: {
                team_id: function() { return $("#id_team_id").val(); },
                pick_type: function() { return $("#id_position").val();}
            },
            after_select: function() {  }
        });
        </script>
        <div id="autocomplete">
        </div>
        </form>
        {% endif %}

		
		<h3>Eastern Conference</h3>
		
		<table summary="Eastern Conference Roster" id="east-team-listing">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="owner-col">Player</th>
					<th class="stat">GL</th>
					<th class="stat">AS</th>
					<th class="stat">TOT</th>
				</tr>
			</thead>
			<tbody>
                {% for pick in eastern_players %}
                <tr>
                    <td>{{ pick.player.position }}</td>
                    <td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.slug|upper }}</em></td>
                    {% for stat in pick.player.playerstat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.g }}</td>
                            <td>{{ stat.a }}</td>
                            <td>{{ stat.pts }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="goalie-header">
					<th>&nbsp;</th>
					<th class="owner-col">Goalie</th>
					<th class="stat">WN</th>
					<th class="stat">SO</th>
					<th class="stat">GAA</th>
				</tr>
                {% for pick in eastern_goalies %}
                <tr>
					<td>G</td>
					<td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.slug|upper }}</td>
                    {% for stat in pick.player.goaliestat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.w }}</td>
                            <td>{{ stat.so}}</td>
                            <td>{{ stat.gaa }}</td>
                        {% endif %}
                    {% endfor %}
				</tr>
                {% endfor %}
			</tbody>
		</table>
		<h3>Western Conference</h3>
		
		<table summary="Western Conference Roster" id="west-team-listing">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="owner-col">Player</th>
					<th class="stat">GL</th>
					<th class="stat">AS</th>
					<th class="stat">TOT</th>
				</tr>
			</thead>
			<tbody>
                {% for pick in western_players %}
                <tr>
                    <td>{{ pick.player.position }}</td>
                    <td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.slug|upper }}</em></td>
                    {% for stat in pick.player.playerstat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.g }}</td>
                            <td>{{ stat.a }}</td>
                            <td>{{ stat.pts }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="goalie-header">
					<th>&nbsp;</th>
					<th class="owner-col">Goalie</th>
					<th class="stat">WN</th>
					<th class="stat">SO</th>
					<th class="stat">GAA</th>
				</tr>
                {% for pick in western_goalies %}
                <tr>
					<td>G</td>
					<td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.slug|upper }}</em></td>
                    {% for stat in pick.player.goaliestat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.w }}</td>
                            <td>{{ stat.so}}</td>
                            <td>{{ stat.gaa }}</td>
                        {% endif %}
                    {% endfor %}
				</tr>
                {% endfor %}
			</tbody>
		</table>
{% endblock content %}