{% extends "pooled/layout_homepage.html" %}
{% block body_class %}team{% endblock %}
{% block content %}
    {% if current_pick_round %}
		<h2 class="cup-winners">The New York Rangers Will Win The Stanley Cup <a href="#">(edit)</a></h2>
        <p class="util-links">
            <a href="#" class="selected">playoff totals</a> | <a href="#">totals by round</a>
        </p>
		<h2>{{ user.username }}</h2>
        <form action="" method="post">
            <p>{{ pick_form.as_ul }}</p>
            <input type="submit" value="Submit" />
        </form>
        <script>
        $("#id_position").change( function() { 
            $("#id_player").attr( { value : "", disabled: "disabled" } ); 
            $("#id_team").attr( { value:"", disabled: "" } ); 
            $("#autocomplete").hide(); 
        });
        Pooled.autocomplete( 
        { 
            url: "/autocomplete/teams/", 
            min_length: -1, 
            complete_target: "#id_team", 
            id_target: "#id_team_id", 
            params: { pick_type: function() { return $("#id_position").val(); } }, 
            after_select: function() { $("#id_player").attr( { value : "", disabled : "" }); }
        });
        Pooled.autocomplete( 
        { 
            url: "/autocomplete/players/", 
            min_length: -1, 
            complete_target: "#id_player", 
            id_target: "#id_player_id", 
            params: {
                team_id: function() { return $("#id_team_id").val(); },
                pick_type: function() { return $("#id_position").val();}
            },
            after_select: function() {  }
        });
        </script>
        <div id="autocomplete">
        </div>
		
		<h3>Eastern Conference</h3>
		
		<table summary="Eastern Conference Roster" id="east-team-listing">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="owner-col">Player</th>
					<th class="stat">GL</th>
					<th class="stat">AS</th>
					<th class="stat">TOT</th>
				</tr>
			</thead>
			<tbody>
                {% for pick in eastern_players %}
                <tr>
                    <td>{{ pick.player.position }}</td>
                    <td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.name|upper }}</em></td>
                    {% for stat in pick.player.playerstat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.g }}</td>
                            <td>{{ stat.a }}</td>
                            <td>{{ stat.pts }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="goalie-header">
					<th>&nbsp;</th>
					<th class="owner-col">Goalie</th>
					<th class="stat">WN</th>
					<th class="stat">SO</th>
					<th class="stat">GAA</th>
				</tr>
                {% for pick in eastern_goalies %}
                <tr>
					<td>G</td>
					<td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.name|upper }}</td>
                    {% for stat in pick.player.goaliestat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.w }}</td>
                            <td>{{ stat.so}}</td>
                            <td>{{ stat.gaa }}</td>
                        {% endif %}
                    {% endfor %}
				</tr>
                {% endfor %}
			</tbody>
		</table>
		<h3>Western Conference</h3>
		
		<table summary="Western Conference Roster" id="west-team-listing">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="owner-col">Player</th>
					<th class="stat">GL</th>
					<th class="stat">AS</th>
					<th class="stat">TOT</th>
				</tr>
			</thead>
			<tbody>
                {% for pick in western_players %}
                <tr>
                    <td>{{ pick.player.position }}</td>
                    <td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.name|upper }}</em></td>
                    {% for stat in pick.player.playerstat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.g }}</td>
                            <td>{{ stat.a }}</td>
                            <td>{{ stat.pts }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr class="goalie-header">
					<th>&nbsp;</th>
					<th class="owner-col">Goalie</th>
					<th class="stat">WN</th>
					<th class="stat">SO</th>
					<th class="stat">GAA</th>
				</tr>
                {% for pick in western_goalies %}
                <tr>
					<td>G</td>
					<td class="player-col">{{ pick.player.name }} <em>{{ pick.player.team.name|upper }}</td>
                    {% for stat in pick.player.goaliestat_set.all %}
                        {% if stat.current %}
                            <td>{{ stat.w }}</td>
                            <td>{{ stat.so}}</td>
                            <td>{{ stat.gaa }}</td>
                        {% endif %}
                    {% endfor %}
				</tr>
                {% endfor %}
			</tbody>
		</table>
		
    {% endif %}
{% endblock content %}