<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}Pooled.{% endblock title %}</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
		
	<link rel="stylesheet" href="/pooled_media/css/reset.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/pooled_media/css/generic.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/pooled_media/css/default.css" type="text/css" media="all" />

	
	<!--[if IE]>
		<link rel="stylesheet" href="/pooled_media/css/ie.css" type="text/css" media="all" />
	<![endif]-->
	
	<!--[if IE 6]>
		<link rel="stylesheet" href="/pooled_media/css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<script src="http://www.google.com/jsapi"></script>
	<script>
	  // Load jQuery
	  google.load("jquery", "1");
	</script>
	<script src="/pooled_media/js/pooled.js"></script>
</head>
<body class="{% block body_class %}homepage{% endblock %}">
<div id="wrapper">
	
	{% block layout %}{% endblock layout %}
	
	<div style="clear:both"></div>
	
	<div id="footer">
		<p>Thanks to nhl.com and gettyimages.com</p>
	</div>
	
</div>	
</body>
</html>
