{% extends "pooled/layout_homepage.html" %}

{% block content %}
    <h2>Leaderboard {{ round }}</h2>
    <table summary="Leaderboard, and Score Breakdown" id="leaderboard">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="cup-winner">&nbsp;</th>
            <th class="owner-col">Username</th>					
            <th class="stat">G</th>
            <th class="stat">A</th>

            <th class="stat">GWG</th>
            <th class="stat">W</th>
            <th class="stat">SO</th>
            <th class="stat">TOT</th>
        </tr>
    </thead>
    <tbody>
    {% for leader in leaderboard %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% for pick in leader.user.cuppick_set.all %}
            <td class="cup-winner"><img src="/pooled_media/images/teams/sml/{{ pick.team.slug|lower }}.gif" /></td>
            {% endfor %}
            <td class="owner-col"><a href="/picks/view/{{leader.user.username}}">{{ leader.user.username }} <em>{{ leader.change }}</em></a></td>
            <td class="offense-col">{{ leader.g }}</td>
            <td class="offense-col">{{ leader.a }}</td>

            <td class="offense-col">{{ leader.gwg }}</td>
            <td class="defense-col">{{ leader.win }}</td>
            <td class="defense-col">{{ leader.so }}</td>
            <td class="total-col">{{ leader.pts }}</td>
		</tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}