{% extends "pooled/base.html" %}
{% load pooled_common %}
{% block body_class %}{{ user.get_profile.favourite_team.slug|lower }}{% endblock %}
{% block layout %}
    <div id="header">
        <p><a href="{% url pooled.views.index %}">Leaderboard</a> | <a href="{% url pooled.views.pick_players %}">Picks</a></p>
        <h1>Pooled.</h1>
        <h2>76design's Second Annual Playoff Pool</h2>
    </div>
    
    <div id="sidebar">
        {% user_profile user %}
        {% scoring_leaders %}
    </div> <!-- END SIDEBAR -->

    {% if messages %}
        <div id="message">
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="content" class="box">
        {% block content %}
        <h2>Leaderboard <em>Coming soon</em></h2>
        <p><a href="{% url pooled.views.pick_players %}">Go make your picks &raquo;</a></p>
        {% endblock content %}
    </div>
{% endblock layout %}