{% extends "pooled/base.html" %}
{% block body_id %}login{% endblock %}
{% block layout %}
    <div id="login-form">
        <form action="" class="box clearfix" method="post">
            <h1>Pooled. <em>Login</em></h1>
            {% if form.errors %}
            <p class="error">Your username and password didn't match, try again.</p>
            {% endif %}
            <input type="text" class="text" name="username" value="Username" />
            <input type="password" class="text" name="password" value="Password" />
            <label for="remember_me" class="checkbox">Remember me on this computer</label>
            <input  type="checkbox" name="remember_login" id="remember_login" value="1"  checked />
            <a href="{% url pooled.views.user_register %}" class="signup">Sign Up For A New Account</a>
            <input type="submit" name="submit" class="submit" Value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock layout %}